

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  padding: 150px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #558C89;
  color: white;
  text-align: center;
}