

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  padding-top: 350px;
  margin-bottom: 30px;
  color: inherit;
  background: url("/pexels-photo-large.jpeg") center center no-repeat;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

body {
	padding-top: 60px;
	overflow-y: scroll;
}

.navbar {
    opacity: 0.8;
    min-height: 60px;
}

.navbar-brand {
	padding: 0 15px; height: 60px; line-height: 60px;
}

.navbar-nav li a {
 line-height: 30px;
}

.navbar-nav li {
	font-size: 125%;
}

.partnersJumbotron {
  padding-top: 350px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  color: inherit;
  background: url("/pexels-photo-24649 large.jpg") center center no-repeat;
}
.partnersJumbotron h1,
.partnersJumbotron .h1 {
  color: inherit;
}
.partnersJumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.partnersJumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .partnersJumbotron,
.container-fluid .partnersJumbotron {
  border-radius: 6px;
}
.partnersJumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .partnersJumbotron {
    /*padding: 48px 0;*/
  }
  .container .partnersJumbotron,
  .container-fluid .partnersJumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .partnersJumbotron h1,
  .partnersJumbotron .h1 {
    font-size: 63px;
  }
}

.loginJumbotron {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  color: inherit;
  background: url("/pexels-photo-26960.jpg") center center no-repeat;
}
.loginJumbotron h1,
.loginJumbotron .h1 {
  color: inherit;
}
.loginJumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.loginJumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .loginJumbotron,
.container-fluid .loginJumbotron {
  border-radius: 6px;
}
.loginJumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .loginJumbotron {
    /*padding: 48px 0;*/
  }
  .container .loginJumbotron,
  .container-fluid .loginJumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .loginJumbotron h1,
  .loginJumbotron .h1 {
    font-size: 63px;
  }
}

.form-signin {
	padding-bottom: 650px;
	max-width: 50%;
}

.login-form {
	align-items: center;
}